<div class="features_items"><!--features_items-->
    <h2 class="title text-center" appAttr>Features Items</h2>
    <input type="text" [(ngModel)]="term"/>
    <div class="col-sm-4" *ngFor="let p of product| paginate: { itemsPerPage: 4, currentPage: p }|filter:term">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="assets/images/home/product1.jpg" alt="" />
                        <h2>Rs.{{p.price}}</h2>
                        <p>{{p.pname}}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>Rs.{{p.price}}</h2>
                            <p>{{p.pname}}</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div><!--features_items-->